[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "==0.0.190"
black = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.5"
